---
title: 'Reviews | Dee Thai Therapy'
description: "Read genuine testimonials from satisfied clients who have experienced Dee Thai Therapy's professional massage treatments in Wakefield over the past decade."
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Where can I start . I’ve known Dee for over 5 years. I’ve had endless of massages around West Yorkshire and NO ONE is better than Dee. I swear that you WILL come back over and over again.
                </p>
                <div class="star-group">
                    <span class="name">Karl Smith</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Excellent massage. I have been using this service since 2016. The massage is deep and released all the tensions in my muscles. The atmosphere is quiet and relaxing with soft musig in the background. I recommend this service if you want a through and deep massage.
                </p>
                <div class="star-group">
                    <span class="name">Ed Anguish</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I had an incredible experience it was peaceful and very relaxing. The massage was very deep it helped me with my back pain so much. Very professional.
                </p>
                <div class="star-group">
                    <span class="name">Chanakan Massey</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    So relaxing and a perfect massage every time. Dawn is so professional and is also a very lovely lady. Been going to her for years!
                </p>
                <div class="star-group">
                    <span class="name">Nadia Alani</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    amazing place dee is super professional and helped my pains
                </p>
                <div class="star-group">
                    <span class="name">Sohail Khan</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Been going years always the best service.
                </p>
                <div class="star-group">
                    <span class="name">CD</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

{% endblock %}